body {
    font-family: "Poppins", sans-serif;
    background-color: #fafbff;
    display: flex;
    gap: 4.375rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

aside {
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 4rem;
    width: 24.12rem;
    background: #ffff;
    padding: 2.25rem 1.75rem 4.75rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.625rem;
    font-weight: 600;
}

.header__title--small {
    font-size: 0.625rem;
    font-weight: 400;
    color: #838383;
    align-self: flex-end;
}

.navigation__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
}

.navigation__item {
    display: flex;
    font-size: 0.875rem;
    color: #9197b3;
    gap: 0.875rem;
    align-items: center;
    padding: 0.8125rem;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
}

.navigation__item:not(.navigation__item--active):hover {
    cursor: pointer;
    background-color: #5932ea;
    color: #ffff;
}

.navigation__item:not(.navigation__item--active):hover .navigation__arrow {
    filter: brightness(0) invert(1);
}

.navigation__item:not(.navigation__item--active):hover .navigation__icon {
    filter: brightness(0) invert(1);
}

.navigation__item--active {
    background-color: #5932ea;
    color: #fff;
}

.navigation__item--active .navigation__arrow {
    filter: brightness(0) invert(1);
}

.navigation__icon {
    width: 1.5rem;
    flex-shrink: 0;
}

.navigation__arrow {
    margin-left: auto;
}

.profile {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.profile__name {
    font-size: 0.875rem;
    font-weight: 600;
}

.profile__position {
    font-size: 0.75rem;
    color: #757575;
}

.main {
    padding: 3.0625rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.main__header {
    font-size: 1.5rem;
    font-weight: 500;
}

.customers {
    padding: 1.875rem 2.375rem;
    background-color: #ffff;
    border-radius: 30px;
}

.customers__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3.125rem 0;
}

.customers__search {
    background-color: #f9fbff;
    border: none;
    padding: 0.625rem;
    border-radius: 10px;
}

.customers__wrapper {
    position: relative;
    display: inline-block;
}

.customers__wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    pointer-events: none;
}

.customers__search::placeholder {
    font-size: 0.75rem;
    color: #b5b7c0;
    padding: 1.5rem;
}

.customers__title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2rem;
}

.customers__subtitle {
    font-size: 0.875rem;
    color: #16c098;
}

thead .customers__td {
    font-size: 0.875rem;
    color: #b5b7c0;
    text-align: left;
    font-weight: 400;
    padding: 0 0 0.875rem 0;
    border-bottom: 1px solid #eeeeee;
}

.customers__td:not(:last-child) {
    padding-right: 3.625rem;
}

tbody .customers__td {
    padding: 1.5rem 0;
    border-bottom: 1px solid #eeeeee;
}

table {
    padding: 0;
}

.customers__status {
    padding: 0.25rem 1.125rem;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
}

.customers__status--active {
    border: 2px solid #00b087;
    color: #008767;
    background-color: rgba(22, 192, 158, 0.38);
}

.customers__status--inactive {
    border: 2px solid #df0404;
    color: #df0404;
    background-color: rgba(255, 197, 197, 1);
}

.pagination {
    display: flex;
    align-items: center;
    padding: 2rem 0 0 0;
    justify-content: space-between;
}

.pagination__buttons {
    display: flex;
    gap: 0.75rem;
    align-items: flex-end;
}

.pagination__button {
    background-color: #f5f5f5;
    padding: 0.175rem 0.5625rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    border: 1px solid #eeeeee;
}

.pagination__button:hover {
    cursor: pointer;
}

.pagination__button--active {
    color: #ffff;
    background-color: #5932ea;
    border: 1px solid #5932ea;
}

.pagination__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #b5b7c0;
}

.burger-menu {
    display: none;
}

@media (max-width: 320px) {
    aside {
        display: none;
    }

    .customers {
        padding: 0.9375rem 1.1875rem;
    }

    aside.active {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1rem;
        border-radius: 10px;
        width: 100%;
        height: 100vh;
        z-index: 999;
        transition: transform 0.3s ease-in-out;
        overflow: hidden;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
    }

    main.open {
        transform: translateX(80%);
        transition: transform 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 1000;
    }

    body.menu-open .main {
        display: none;
    }

    .navigation__item {
        font-size: 1rem;
        padding: 0.8125rem;
    }

    .header__title--small {
        font-size: 1rem;
    }

    .header__title {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .main__header {
        padding: 0 0 0 1.1875rem;
    }

    .main {
        padding: 1.25rem 0 0 0;
    }

    .customers__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin: 0 0 1.5625rem 0;
    }

    thead {
        display: none;
    }

    .customers__table {
        display: block;
        width: 100%;
    }

    .customers__tr {
        display: block;
        margin-bottom: 1.5rem;
        border: none;
    }

    .customers__td {
        display: block;
        font-size: 1rem;
        padding: 0.75rem 0;
        border: none;
        color: #333;
        width: 100%;
        text-align: left;
        border-bottom: none;
    }

    .customers__td::before {
        content: attr(data-label);
        font-weight: 500;
        display: block;
        color: #b5b7c0;
        margin-bottom: 0.5rem;
    }

    .customers__td:not(:last-child) {
        border-bottom: none;
    }

    .pagination {
        flex-direction: column;
        gap: 0.8rem;
        align-items: flex-start;
    }

    .pagination__buttons {
        gap: 0.35rem;
    }
}
